In [2]:
import pandas as pd
import os

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("sandhyapalaniappan/rainfall-prediction-dataset-cleaned-weatheraus")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Downloading from https://www.kaggle.com/api/v1/datasets/download/sandhyapalaniappan/rainfall-prediction-dataset-cleaned-weatheraus?dataset_version_number=1...

100%|██████████| 4.18M/4.18M [00:01<00:00, 3.30MB/s]

Extracting files...
Path to dataset files: C:\Users\nbart.DESKTOP-3OF7M8N\.cache\kagglehub\datasets\sandhyapalaniappan\rainfall-prediction-dataset-cleaned-weatheraus\versions\1

In [5]:
# Look inside the path folder
files = os.listdir(path)
files

['weatherAUS_rainfall_prediction_dataset_cleaned.csv']

In [9]:
# Get the csv
df = pd.read_csv(path + "/weatherAUS_rainfall_prediction_dataset_cleaned.csv")
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2010-04-30,Adelaide,10.8,21.2,0.0,1.8,6.60,ENE,22.0,ENE,...,66.0,48.0,1028.4,1024.7,4.45,4.51,15.7,21.0,No,No
1,2014-07-22,Adelaide,3.7,19.0,0.0,1.4,7.61,N,24.0,N,...,75.0,32.0,1024.2,1021.1,4.45,4.51,9.6,18.5,No,No
2,2014-07-23,Adelaide,9.6,15.8,0.0,2.6,7.61,NE,52.0,NNE,...,35.0,51.0,1017.9,1011.5,4.45,4.51,14.7,15.4,No,Yes
3,2014-07-24,Adelaide,10.1,15.5,16.6,0.8,7.61,NNE,50.0,NW,...,96.0,80.0,1007.4,1008.0,4.45,4.51,11.2,14.0,Yes,Yes
4,2014-07-25,Adelaide,11.2,16.2,1.8,0.6,7.61,NW,30.0,WNW,...,89.0,70.0,1018.4,1019.2,4.45,4.51,13.0,15.3,Yes,Yes